/* src/components/LoginForm.css */
:root {
  --color-verde: #60B929;
}


.login-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
  }
  
 
  
  .login-left {
    background-color:var(--color-verde);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-left h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
  }
  
  .login-left form {
    display: flex;
    flex-direction: column;
  }
  
  .login-left label {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .login-left input {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-left button {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-left button:hover {
    background-color: #0056b3;
  }
  
  .login-right {
    background-color: #e0e0e0; /* Puedes personalizar esto */
  }
  
  input, button {
    width: 100%;
  }

  button{
    margin-top: 3rem;
  }

  a{
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
  }
 
  li{
    list-style: none;
  }
  